@model MyJira.Models.Project


<div id="myjira">
    <div class="row" id ="add-form">
        @using (Html.BeginForm(actionName: "Edit", controllerName: "Project"))
        {
            @Html.HttpMethodOverride(HttpVerbs.Put)

            @Html.Label("Name", "Project name")
            <br />
            @Html.EditorFor(m => m.Name);
            @Html.ValidationMessageFor(m => m.Name, "", new { @class = "text-danger" })
            <br />

            @Html.Label("Description", "Project description")
            <br />
            @Html.TextAreaFor(m => m.Description)
            @Html.ValidationMessageFor(m => m.Description, "", new { @class = "text-danger" })
            <br />

            @Html.HiddenFor(m => m.Id)

            <button class="btn btn-sm btn-success add-button" type="submit">Apply changes</button>
        }
    </div>
</div>