@{
    ViewBag.Title = "List of Projects";
}

<h2>@ViewBag.Title</h2>
<hr />

@if (TempData.ContainsKey("message"))
{
    <h3 class="alert alert-info" role="alert">@ViewBag.message</h3>
}

@foreach (MyJira.Models.Project project in ViewBag.Projects)
{
    <div class="panel panel-default">
        <div class="panel-heading">@project.Name</div>

        <div class="panel-body">
            <strong>Project description:</strong> @project.Description
            <br />
            <i class="glyphicon glyphicon-user"> </i><i> created by </i><strong> @project.Leader.UserName </strong>
        </div>

        <div class="panel-footer">
            <a class="btn btn-sm btn-success" href="/Project/Show/@project.Id">View more</a>
        </div>
    </div>
    <br />
}

<br />
<a class="btn btn-sm btn-success" href="/Project/New">Add Project</a>
<br />