@model MyJira.Models.Project

@{
    ViewBag.Title = "Show";
}

<h3>@ViewBag.Title</h3>

<div class="panel panel-default">
    <div class="panel-heading">@Model.Name</div>

    <div class="panel-body">
        Project description: <strong>@Model.Description</strong>
        <br />
        @*<i class="glyphicon glyphicon-user"> </i><i> created by </i><strong> @Model.Leader.UserName </strong>*@

        <br />
        <a class="btn btn-success" href="/Team/New/@Model.Id">Add Team</a>
    </div>

    <div class="panel-footer">
        <a class="btn btn-sm btn-success" href="/Project/Edit/@Model.Id">Edit</a>
        @using (Html.BeginForm(actionName: "Delete", controllerName: "Project", method: FormMethod.Post, routeValues: new { id = @Model.Id }, htmlAttributes: new { style = "display: inline" }))
        {
            @Html.HttpMethodOverride(HttpVerbs.Delete)
            <button class="btn btn-sm btn-success" type="submit">Delete</button>
        }
    </div>
</div>
