
@{
    ViewBag.Title2 = "List of Tasks";
}

<h2>@ViewBag.Title2</h2>
<hr />

@if (ViewBag.message != null)
{
    <h3 class="alert alert-info" role="alert">@ViewBag.message</h3>
}

@foreach (MyJira.Models.Task task in ViewBag.tasks)
{
    <div class="panel panel-default">
        <div class="panel-heading"> 
            @if (task.Reporter.Team != null)
            {
                <span class="label label-default">
                    @task.Reporter.Team.Project.Name
                </span>
            }
            | @task.Title</div>
        
        <div class="panel-body">
            <strong>Task description:</strong> @task.Description
            <br />
        </div>

        <div class="panel-footer">
            <a class="btn btn-sm btn-success" href="/Task/Show/@task.Id">View more</a>
        </div>
    </div>

    <br />
}

