@model MyJira.Models.Task

@{
    ViewBag.Title2 = "Show";
}

<h1>@ViewBag.Title2</h1>

@if (ViewBag.message != null)
{
    <h3 class="alert alert-info" role="alert">@ViewBag.message</h3>
}


<div class="panel panel-default">
    <div class="panel-heading"> <span class="label label-default">@ViewBag.Project.Name</span> | @Model.Title</div>

    <div class="panel-body">
        <p><strong>Description:</strong> @Model.Description</p>
        <p><strong>Status:</strong> @Model.Status</p>
        <p><i class="glyphicon glyphicon-user"> </i><i> reported by </i><strong> @Model.Reporter.UserName </strong></p>
        @if (Model.AssigneeId == null)
        {
            <p><strong>Assignee:</strong> None</p>
        }
        else
        {
            <p><strong>Assignee:</strong> @Model.Assignee.UserName</p>
        }
        <p><strong>Start time:</strong> <i>@Model.StartTime</i></p>
        @if (Model.Status == MyJira.Models.TaskStatus.Done)
        {
            <p><strong>Finish time:</strong> <i>@Model.FinishTime</i></p>
        }

        @foreach (MyJira.Models.Comment comment in ViewBag.Comments)
        {
            <div class="panel panel-default">
                <div class="panel-heading"> <span class="label label-default">@comment.User.UserName</span> - <i>@comment.Date</i></div>

                <div class="panel-body">
                    @Html.Raw(comment.Content)
                    <br />
                </div>
                
                @if (comment.UserId == ViewBag.currentUser || ViewBag.Project.LeaderId == ViewBag.currentUser || ViewBag.userIsAdmin)
                {
                    <div class="panel-footer">
                        <a class="btn btn-sm btn-success" href="/Task/EditComment/@comment.Id">Edit</a>
                        @using (Html.BeginForm(actionName: "DeleteComment", controllerName: "Task", method: FormMethod.Post, routeValues: new {id = @comment.Id}, htmlAttributes: new {style = "display: inline"}))
                        {
                            @Html.HttpMethodOverride(HttpVerbs.Delete)
                            <button class="btn btn-sm btn-success" type="submit">Delete</button>
                        }
                    </div>
                }

            </div>
        }
        
        @if(Model.TeamId == ViewBag.TeamIdUser || ViewBag.Project.LeaderId == ViewBag.currentUser || ViewBag.userIsAdmin)
        {
            <form method="post" action="/Task/AddComment/">
                <textarea class="summernote" name="Content"></textarea>
                <br/>
                <input type="hidden" name="Date" value="@DateTime.Now"/>
                <input type="hidden" name="UserId" value="@ViewBag.currentUser"/>
                <input type="hidden" name="TaskId" value="@Model.Id"/>
                <button class="btn btn-sm btn-success" type="submit">Add Comment</button>
            </form>
        }

    </div>
    
    @if (Model.ReporterId == ViewBag.currentUser || Model.AssigneeId == ViewBag.currentUser || ViewBag.Project.LeaderId == ViewBag.currentUser || ViewBag.userIsAdmin)
    {
        <div class="panel-footer">
            <a class="btn btn-sm btn-success" href="/Task/Edit/@Model.Id">Edit</a>
            @using (Html.BeginForm(actionName: "Delete", controllerName: "Task", method: FormMethod.Post, routeValues: new {id = @Model.Id}, htmlAttributes: new {style = "display: inline"}))
            {
                @Html.HttpMethodOverride(HttpVerbs.Delete)
                <button class="btn btn-sm btn-success" type="submit">Delete</button>
            }
        </div>
    }
</div>