
@model MyJira.Models.Team

@{
    ViewBag.Title = "Add a new Team";
}

<h2>@ViewBag.Title</h2>
<br />

@using (Html.BeginForm(actionName: "New", controllerName: "Team"))
{ 
    @Html.Label("Name", "Team name")
    <br />
    @Html.TextBox("Name", null, new { @class = "form-control" })
    @Html.ValidationMessageFor(m => m.Name, null, new { @class = "text-danger" })
    <br />

    @Html.HiddenFor(m => m.ProjectId)
    <br />

<button class="btn btn-sm btn-success" type="submit">Create</button>
}
