
@{
    ViewBag.Title = "List of Devs";
}

<ol class="breadcrumb"
    <li><h3>@ViewBag.Title</h3></li>
</ol>

@if (TempData.ContainsKey("message"))
{
    <h3 class="alert alert-info" role="alert">@ViewBag.message</h3>
}

@foreach (MyJira.Models.ApplicationUser user in ViewBag.UserList)
{
    <div class="panel-heading">Dev's Name: @user.UserName</div>
    <div class="panel-body">
        <i class="glyphicon glyphicon-envelope"></i> Dev's Email:<span class="label label-default">@user.Email</span>
        <br /><br />
        <i class="glyphicon glyphicon-home"></i> Dev's Team:<span class="label label-default">@user.Team.TeamName</span>
        <br /><br />
        @if (user.PhoneNumber != null)
        {
            <i class="glyphicon glyphicon-phone"></i>@:Dev's Phone Numer:<span class="label label-default">@user.PhoneNumber</span>
        }
    </div>
    <div class="panel-footer">
        @using (Html.BeginForm(actionName: "Delete", controllerName: "User", method: FormMethod.Post, routeValues: new { id = user.Id}))
        {
            @Html.HttpMethodOverride(HttpVerbs.Delete)
            <button class="btn btn-success" type="submit">Delete Team</button>
        }
        <a class="btn btn-sm btn-success" href="/User/Edit/@user.Id">Edit Dev</a>
    </div>
    <br />
    <br />
}