
@{
    ViewBag.Title = "List of Devs";
}

<h3>@ViewBag.Title</h3>
<hr />

@if (TempData.ContainsKey("message"))
{
    <h3 class="alert alert-info" role="alert">@ViewBag.message</h3>
}

@foreach (MyJira.Models.ApplicationUser user in ViewBag.UserList)
{
    <div class="panel panel-default">
        <div class="panel-heading"><strong>Dev's Name:</strong> @user.UserName</div>

        <div class="panel-body">
            <figure>
                <img src="~/Photos/@user.PhotoPath" alt="Photo unavailable" height="50" width="50"/>
            </figure>
            <i class="glyphicon glyphicon-envelope"></i> Dev's Email: <span class="label label-default">@user.Email</span>
            <br />
            <i class="glyphicon glyphicon-home"></i>
            Dev's Team:
            @if (user.TeamId != null)
            {
                 <span class="label label-default">@user.Team.Name</span>
            }
            else
            {
                <span>*no team assigned*</span>
            }

            <br />
            @if (user.PhoneNumber != null)
            {
                <i class="glyphicon glyphicon-phone"></i>@:Dev's Phone Number: <span class="label label-default">@user.PhoneNumber</span>
            }
        </div>

        <div class="panel-footer">
            <a class="btn btn-sm btn-success" href="/User/Edit/@user.Id">Edit</a>
            @using (Html.BeginForm(actionName: "Delete", controllerName: "User", method: FormMethod.Post, routeValues: new { id = user.Id }, htmlAttributes: new { style = "display: inline" }))
            {
                @Html.HttpMethodOverride(HttpVerbs.Delete)
                <button class="btn btn-sm btn-success" type="submit">Delete</button>
            }
        </div>
    </div>

    <br />
    <br />
}